[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = muneerhamdan01@gmail.com
	name = Muneer Hamdan
[init]
	defaultBranch = main
